.bwv-flock-list {
  justify-content: space-between;

  .table-wrap--top {
    min-height: 350px;
    overflow: hidden;
    position: relative;
    flex: 1;

    &::-webkit-scrollbar {
      display: none;
    }

    &:after {
      content: '';
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to bottom, rgba(245, 246, 250, 0), #f5f6fa);
    }
  }

  .table-wrap {
    flex: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__footer {
    display: flex;
    height: 235px;
    margin-bottom: 40px;
    margin-top: 40px;

    .bwc-panel {
      margin-top: 13px;
      height: 100%;
    }

    &-flocks {
      flex: 1;
      margin-right: 20px;

      .bwc-panel {
        padding: 0 20px;
        display: flex;
        align-items: center;

        > * {
          flex: 1;
        }
      }
    }

    &-reminders {
      flex: 1;
      margin-left: 20px;
    }
  }
}

.reminders {
  padding: 15px;
  height: 270px;

  &-item {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    padding: 11px 0;
    cursor: pointer;

    span {
      margin-left: 11px;
      font-size: 11px;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: $green;
      color: $white;
      text-align: center;

      &.disabled {
        background-color: $light-gray;
      }
    }
  }

  &-content {
    display: none;

    .active > & {
      display: block;
    }
  }

  &-subitem {
    position: relative;
    margin-left: 40px;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 0;

    &::before {
      content: '';
      margin-bottom: 1px;
      margin-right: 20px;
      display: inline-block;
      width: 8px;
      height: 8px;
      -moz-border-radius: 7.5px;
      -webkit-border-radius: 7.5px;
      border-radius: 7.5px;
      background-color: $green;
    }
  }
}
