.megadraft {
  &-editor .DraftEditor-root {
    color: $gray;
  }

  .sidebar__menu {
    left: -40px !important;
  }

  .paragraph,
  figure {
    margin: 20px 0 !important;
  }

  .DraftEditor {
    &-root {
      overflow: hidden;
    }

    &-editorContainer {
      padding: 4px;
    }
  }

  [contenteditable="true"] {
    border: 4px solid #eee;
    margin: -4px;
  }

  .md-table-plugin {
    display: flex;
    justify-content: center;
  }
}
