body {
  margin: 0;
  background-color: $bg-color;
}

.has-pointer {
  cursor: pointer;
}

.input-group {
  flex-wrap: unset;
}

// input {
//   min-width: 45px;
// }
input {
  min-width: 120px;
}

input[type=checkbox] {
  min-width: unset;
}

.col {
  padding: 15px 15px 0;
}

// hide spinner for input
input[type='date'],
input[type='number'] {
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button,
  &:hover::-webkit-inner-spin-button,
  &:hover::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

main {
  display: flex;
  // height: 100vh;
  min-height: 450px;
}

.container {
  max-width: unset;
}

.sidebar-open {
  .bwc-sidebar {
    width: $sidebar-width;
  }

  .bwc-header {
    width: calc(100vw - #{$sidebar-width});
    margin-left: $sidebar-width;
  }

  .bwc-content {
    margin-left: $sidebar-width;
  }
}
