.modal-content {
  &-backdrop {
    background-color: gray;
    height: 100%;
    width: 100%;
    opacity: .4;
    position: absolute;
    z-index: 2;
  }

  &-loader,
  &-loader:after,
  &-loader:before {
    background: $blue;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;

  }

  &-loader {
    color: $blue;
    text-indent: -9999em;
    z-index: 3;
    position: absolute;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-loader:after,
  &-loader:before {
    position: absolute;
    top: 0;
    content: '';
  }

  &-loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  &-loader:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    100%,
    80% {
      box-shadow: 0 0;
      height: 4em;
    }

    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    100%,
    80% {
      box-shadow: 0 0;
      height: 4em;
    }

    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
}
