.modal {
  & &-body {
    max-width: 515px;
    padding-bottom: 0;
  }

  & &-footer {
    max-width: 515px;
  }

  .modal-footer {
    padding: 15px 0;

    & > .container > .row > .col {
      display: flex;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }

      & .btn:not(:first-child) {
        margin-left: 15px;
      }
    }
  }

  .modal-fluid {
    & > .modal-body {
      max-width: unset !important;
      padding: 0;

      & > .container {
        padding: 0 46px;
      }
    }

    & > .modal-footer {
      max-width: unset !important;

      & > .container {
        padding: 0 46px;
      }
    }
  }

  .bwm-close-flock,
  .bwm-delete {
    &__modal {
      text-align: center;

      .modal-footer {
        display: flex;
        justify-content: space-between;
      }

      .vwc-label.label--text.subtitle {
        font-size: 20px;
        font-weight: 300;
        color: #4a4a4a;
      }
    }
  }
}
