.bwc-content {
  background-color: #f5f6fa;
  width: 100%;
  // overflow: hidden;
  min-width: 320px;
  margin-top: $header-height;

  margin-left: 0;
  transition: all .2s ease-in;

  &__overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    background-color: #2e313d;
    height: 100%;
    z-index: 4;
    opacity: .5;
    display: none;
  }
}
@media only screen and (max-width: 566px) {
  .sidebar-open {
    overflow: hidden;
    .bwc-content__overlay {
      display: block !important;
    }
  }
}
