.bwc-header {
  height: $header-height;
  background-color: $white;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
  padding-left: 49px;
  padding-right: 18px;
  position: fixed;
  z-index: 2;

  width: 100vw;
  margin-left: 0;
  transition: all .2s ease-in;

  .dropdown-toggle {
    text-align: center;
  }
}
