.bwc-sidebar {

  z-index: 5;
  width: 0;
  font-weight: 200;
  color: $white;
  background-position: center center;
  background-size: cover;
  transition: width .2s ease-in;
  background: #000;
  background: linear-gradient(157deg, $black, #46495a);

  position: fixed;
  height: 100vh;

  &__logo {
    width: 72px;
    height: 20px;
    color: #bc1e31;

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
  }

  &__content {
    padding-top: 70px;
    position: relative;
    z-index: 4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__nav-item-collapse {
    display: flex;
    justify-content: space-between;
  }

  &__nav-item-icon {
    width: 30px;
    height: 35px;
    padding-right: .5rem;
    color: $white;
  }

  .nav {
    margin-top: 20px;

    .nav-item {
      margin: 5px 10px;
      color: theme-color(light);
      border-radius: 4px;
      opacity: .86;

      span {
        color: $light-gray;
        font-weight: 600;
        font-size: 16px;
        padding-top: 7px;
        padding-left: 15px;
      }

      &.active {
        .nav-link::after {
          content: "";
          width: 16px;
          height: 16px;
          background-color: $blue;
          position: absolute;
          border-radius: 50%;
          right: 20px;
          margin-top: 11px;
          border: solid 4px rgba(0,0,0,0.5);

        }

        svg {
          color: $blue;
        }

        span {
          color: $white;
        }
      }

      .nav-link {
        cursor: pointer;
      }

      &:hover {
        span {
          color: $white;
        }
      }

      &.nav-item-sub {
        span {
          color: $white;
          font-weight: 500;
          font-size: 14px;
          margin-left: 60px;
        }

        .nav-link {
          padding: 2px 10px;
        }

        &:hover {
          span {
            color: $white;
          }
        }

        &.active {
          span {
            color: $blue !important;
          }

          .nav-link::after {
            margin-top: 5px;
          }
        }
      }

      &.nav-item-simple {
        &.active {
          .nav-link::after {
            content: unset;
          }
        }
      }
    }
  }
}

// .sidebar-open {
//   .bwc-sidebar {
//     width: 256px;
//     transition: width .2s ease-in;
//   }
// }

.bwc-sidebar__content {
  padding-top: 70px;
}

.bwc-sidebar__logo {
  width: 72px;
  height: 20px;
  color: #bc1e31;

  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
}

.bwc-sidebar .nav .nav-item span {
  padding-left: 15px;
}

.bwc-sidebar__nav-item-icon {
  width: 30px;
}
