.bwv-help {
  // overflow: auto;
  // overflow-y: hidden;

  .vwc-table {
    &-wrap {
      width: fit-content;
    }

    tr {
      height: unset;
    }

    td,
    th {
      width: unset;
    }
  }

}
