.bwm-feedback {

  min-height: 500px;

  &__header svg {
    padding: 2px 5px 5px;
  }

  &__body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px !important;
  }

  &__subtitle {
    font-size: 18px;
  }

  &__content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &-message {
      text-align: left;
      width: 100%;
    }

    &-checkbox {
      padding-left: 20px;

      input {
        margin-left: -20px;
        margin-top: -11px;

        &:focus {
          outline: none;
          box-shadow: none !important;
        }
      }

      span {
        cursor: pointer;
      }
    }

    & > svg {
      padding: 50px 70px;
      border: solid 1px #9d9fac;
      border-radius: 4px;
      width: 260px;
      height: 190px;
      margin: 10px;
      cursor: pointer;
    }

    textarea {
      //width: 384px;
      height: 224px;
      border-radius: 8px;
      margin: 12px 0;
      // border: solid 1px #9d9fac;
    }

  }
}
