.bwc-icon-page {
  display: flex;
  height: calc(100vh - 80px);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &.column {
      flex-direction: column;
    }
  }

  &__icon {
    color: $gray;
    font-size: 200px;
    margin-bottom: 60px;
  }

  &__text {
    font-size: 24px !important;
    margin-right: 20px;
  }

  .column > &__text {
    margin-right: unset;
  }

  .column > a.btn {
    margin-top: 32px;
  }
}
