.bwc-loader {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: #f5f6fa;
  z-index: 9;
  flex-flow: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
