.bwc-page {
  // padding: 25px 25px 35px;
  min-height: 500px;
  height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  transition: padding ease-out .5s;
  overflow-x: hidden;
  // position: relative;

  &__header {
    padding: 40px 40px 30px;
    display: flex;
    flex-wrap: wrap;
    // padding: 15px;

    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__actions {
    display: flex;
    padding-right: 0;
    padding-left: 0;

    & > *:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__title {
    flex: 1;
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
    // display: flex;
    align-items: center;
  }

  &__body {
    padding: 0 40px 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &--overflow {
    overflow-x: unset;
    height: unset;

    .bwc-page__body {
      overflow-y: unset;
    }
  }
  @media only screen and (max-width: 800px) {
    & {
      padding: unset;
      transition: padding ease-out .5s;
    }

    &__title > .label--title {
      font-size: calc(1.75rem + 14 * ((100vw - 320px) / 680));
    }

    &__body {
      padding-top: unset;
    }
  }
}
