.bwc-subtitle-wrapper {
  display: inline-block;

  & > span {
    white-space: nowrap;

    & > span {
      margin-left: 5px;
      color: $green !important;
    }

    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}
