.bwc-toast-message {
  border-radius: 8px;
  color: $white;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 18px 0;

  &__icon {
    margin: -5px 20px 0 24px;
    font-size: 24px;

    svg {
      background-color: $white;
      border-radius: 50%;
    }
  }

  &__message {
    flex: 1;
  }

  &__close {
    font-size: 12px;

    svg {
      margin: 0 9px;
    }
  }

  &.success {
    background-color: $green;
  }

  &.success &__icon > svg {
    color: $green;
  }

  &.error {
    background-color: $red;
  }

  &.error &__icon > svg {
    color: $red;
  }
}

.Toastify__toast {
  padding: 0 !important;
  border-radius: 8px !important;

  &-container {
    width: 352px !important;
  }
}
