.bwc-tooltip {

  position: relative;
  display: inline-block;

  & .tooltiptext {

    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -90px;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }

  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}
