.bwv-bird {
  .row {
    flex-wrap: unset;
    overflow: auto;
  }

  .col {
    padding: 15px;
  }

  .vwc-table-wrap {
    max-width: 350px;

    tbody {
      tr {
        height: unset;
      }
    }
  }

  .vwc-table-data td,
  .vwc-table-data th {
    padding: 13px;
    width: 50%;

    &:first-child {
      padding-left: 40px;
    }

    input {
      width: unset;
      margin: 0;
      width: calc(100% + 5px);
    }
  }
}
