.bwv-company-list {
  height: 100vh;
  width: 100%;
  padding: 40px;

  tbody tr td {
    background-color: $white-gray;
  }

  & .sub-actions {
    margin: unset;
    float: right;
    padding-top: unset;
    padding-bottom: unset;
    height: 24px;
  }
}
