.bwv-flock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .input-group > span > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .vwc-table-wrap {
    flex: 1;
  }

  &__navigation {
    position: absolute;
    right: 40px;
    margin-top: -35px;

    svg {
      margin-right: 10px;
    }

    & > * {
      display: inline-block;

      &:last-child {
        padding-left: 15px;

        svg {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }

  table {
    table-layout: fixed;
  }

  td,
  th {
    white-space: nowrap;

    &:first-child {
      width: 120px;
      padding-left: 70px;
    }

    &:last-child {
      width: 120px;
    }
  }

  &__graph {
    //height: 100%;
    flex: 1;
    padding: 15px;
    display: flex;
    flex-flow: column;

    &-header {
      > * {
        margin-left: 45px;
      }

      .btn-legend {
        padding: 11px 16px;
        border-radius: 8px;
        position: relative;
        font-size: 17px;
        color: $black;
        font-weight: 600;
        cursor: pointer;
        white-space: nowrap;

        &.with-dot {
          padding-left: 48px;

          &::after {
            content: '';
            height: 16px;
            width: 16px;
            position: absolute;
            margin: auto;
            left: 16px;
            bottom: 0;
            top: 0;
            border-radius: 8px;
            background-image: linear-gradient(139deg, #7ceaa2, $green);
          }
        }
      }

      > :not(:first-child) {
        margin-left: 15px;
        display: inline;
      }
    }
  }

  &__footer {
    display: flex;
    margin-top: 40px;
  }
}
