$sections-count: 4;

.bwv-home {
  top: 62px;
  height: calc(100vh - 62px);
  width: 100%;
  overflow-x: hidden;
  position: relative;

  .section-1 {
    padding-top: 60px;

    h1 {
      padding-top: 40px;
    }
  }

  section {
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    img,
    svg {
      max-width: 100%;
      height: auto;
      -ms-interpolation-mode: bicubic;
      display: inline-block;
      vertical-align: middle;
    }

    &:last-of-type {
      min-height: 55vh;
    }

    .invert {
      color: $white;
    }

    .row {
      padding-top: 7rem;
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
    }

    .section-title {
      padding: 0;
      margin: 0 0 1rem;
      height: initial;

      svg {
        position: relative;
        top: - 6px;
        margin-right: 1rem;
        float: left;
      }
    }
  }
  @for $i from 1 to $sections-count + 1 {
    .section-#{$i} {
      background-image: url('./content/bg/section#{$i}.jpg');
    }
  }
}

.sticky {
  position: absolute;
  z-index: 7;
  transform: translate3d(0, 0, 0);
  padding: 0;
  background-color: #222222;
  width: 100%;
  height: 62px;
  top: 0;

  .nav-left {
    float: left;
  }

  .nav-right {
    float: right;
    display: flex;

    svg {
      margin: 0 10px;
    }
  }

  .link {
    color: #fff;
    height: 62px;
    line-height: 62px;
    padding: 0 20px;
    text-transform: none;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #dc0000;
      cursor: pointer;
    }
  }

}
